body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 12, 13);
    font-family: sans-serif;
}

.navbar {
    font-size: 30px;
    background-color: rgb(5, 30, 43);
}

.navbar-inner {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.btn {
    margin: 3px;
    width: 25%;
    font-size: 50px;
    color: white;
    border: none;
    text-align: center;
    padding: 8px;
    /* border-radius: 100%; */
}

.btn:hover {
    opacity: 0.8;
}

.items-center {
    align-items: center;

}

.container {
    margin: auto;
    margin-top: 30px;
    width: 300px;
}

.input {
    color: white;
    padding: 10px 2px;
    margin: 11px;
    margin-top: 30px;
    font-size: 23px;
    border-radius: 4px;
    border: none;
}

.row {
    display: flex;
    justify-content: space-evenly;
    padding: 2px 10px;
}

.text-center {
    text-align: center;
}

.bg-black {
    background-color: black;
}

.top-radius {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.bottom-radius {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.bg-dark {
    background-color: rgb(61, 58, 58);
}

.bg-orange {
    background-color: rgb(218, 123, 0);
}

.bg-lightgrey {
    background-color: rgb(161, 148, 148);
}